.buttonError {
    color: #f00;
    font-size: 20px;
    
}

.buttonError:hover {
    background-color: black;
    
}

.buttonSuccess {
    color: green;
    font-size: 25px;
}

.buttonSuccess:hover {
    background-color: whitesmoke;
    
}